
.focussed, .hidden {
  position: absolute;
  width: 100%;
  top: 0;
  transition-property: transform opacity;
  transition-duration: 200ms;
  will-change: transform opacity;
}

.hidden {
  opacity: 0;
  transform: translateY(-48px);
}

.focussed, .hidden:hover {
  opacity: 1;
  transform: translateY(0);
}

.address, .title { 
  height: 32px !important;
  width: 75% !important;
  margin: 0px !important;
  border: none !important;
  padding: 0px 52px 0px 0px !important;
}

.address input, .title input { 
  height: 32px !important;
  border: none !important;
  padding: 0px 32px 0px 32px !important;
}

.address input { 
  text-align: left !important;  
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.title input { 
  text-align: center !important;  
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.address i, .title i { 
  top: 4px !important;
  left: 0px !important;
  padding: 0px !important;
}