
.focussed, .hidden {
  position: absolute;
  width: 100%;
  top: 0;
  transition-property: transform opacity;
  transition-duration: 200ms;
  will-change: transform opacity;
}

.hidden {
  opacity: 0;
  transform: translateY(-48px);
}

.focussed, .hidden:hover {
  opacity: 1;
  transform: translateY(0);
}

.address, .title { 
  height: 32px !important;
  width: 75% !important;
  margin: 0 !important;
  border: none !important;
  padding: 0px 60px 0px 8px !important;
}

.address input, .title input { 
  height: 32px !important;
  text-align: center !important;  
  border: none !important;
  padding: 0px 8px 0px 8px !important;
}

.address input { 
  background-color: rgba(255, 255, 255, 1) !important;
}

.title input { 
  background-color: rgba(255, 255, 255, 0.2) !important;
}
